
#chat-box {
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: radial-gradient(circle, #333030 10%, transparent 10%) 0 0,
                radial-gradient(circle, #313131 10%, transparent 10%) 10px 10px;
    background-size: 20px 20px;
    border-radius: 25px;
  }
  
  .message {
    max-width: 70%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  
  /* Mensajes enviados: a la derecha */
  .sent {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    border-radius: 10px 10px 0 10px;
    padding: 8px 12px;
  }
  
  /* Mensajes recibidos: a la izquierda */
  .received {
    align-self: flex-start;
    background-color: #737373;
    color: white;
    border-radius: 10px 10px 10px 0;
    border: 1px solid #6b6b6b;
    padding: 8px 12px;
  }
  
  /* Opcional: nombre encima de mensajes recibidos */
  .nombre-usuario {
    font-size: 12px;
    color: #cccccc;
    margin-bottom: 3px;
    font-weight: bold;
  }
  

  #mensaje-form {
    display: flex;
    align-items: center;
    background: #141519;
    padding: 5px;
  }
  
  #mensaje-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 25px;
    resize: none;
    color: black;
    background-color: #f3f3f3;
  }
  
  #mensaje-form button {
    border: none;
    background-color: #007bff;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
  }
  
  #mensaje-form button:hover {
    background-color: #0056b3;
  }
  
  .skeleton-message {
    height: 40px;
    width: 60%;
    background: linear-gradient(90deg, #444 25%, #555 37%, #444 63%);
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: 15px;
  }
  
  .skeleton-message.sent {
    margin-left: auto;
    background-color: #3a3a3a;
  }
  
  .skeleton-message.received {
    margin-right: auto;
    background-color: #4a4a4a;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }