body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #464749;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141519;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

main {
    padding-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(https://c1.wallpaperflare.com/path/427/745/192/notebook-natural-laptop-macbook-497500668a927f46aa19fafb668d8702.jpg);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen mientras se hace scroll */
}

.nav-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 9em;
    height: auto;
    padding-left: 20px;
    padding-right: 50px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.user-info {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    gap: 15px;
}

.user-info img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 10px;
    align-items: center;
}

.user-info button {
    background-color: #dc3545;
    white-space: nowrap;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

#busqueda-btn {
    background-color: rgba(0, 0, 0, 0);
}

.user-info button:hover {
    background-color: #c82333;
}

.circle-busqueda {
    background-color: #464749;
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 43px;
    width: auto;
    margin: 0 5px;
}

.circle-busqueda input {
    background-color: #464749;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 200px;
    margin-left: 10px;
}
/*Fin navbar*/

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 50px 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
}

/* Campos del formulario */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
    appearance: none; /* Quita el estilo nativo del navegador */
}

select {
    min-width: 100%; /* Asegura que tenga el mismo ancho mínimo que los demás */
}


/* Botones */
.button-group {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
    align-items: stretch;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: gray;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #333;
}


/* Footer */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(15, 16, 20, 0.95);
    color: #ddd;
    text-align: center;
    padding: 12px 0;
    font-size: 15px;
    font-weight: 300;
    z-index: 2;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

.nav-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.nav-footer a {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-footer a:hover {
    color: #fff;
}
