/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Main con fondo */
main {
  padding-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(https://c1.wallpaperflare.com/path/427/745/192/notebook-natural-laptop-macbook-497500668a927f46aa19fafb668d8702.jpg);
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen mientras se hace scroll */
}


/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #141519;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

h1 {
  color: #fff;
  display: block;
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  margin-top: 40px;
}

.nav-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.logo img {
  width: 100px;
  height: auto;
  padding-left: 20px;
  padding-right: 50px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.user-info {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
  gap: 15px;
}

.user-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
  align-items: center;
}

.user-info button {
  background-color: #dc3545;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
}

.user-info button:hover {
  background-color: #c82333;
}

.circle-busqueda {
  background-color: #464749;
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 43px;
  width: auto;
  margin: 0 5px;
}

.circle-busqueda input {
  background-color: #464749;
  border: none;
  color: #fff;
  font-size: 16px;
  width: 200px;
  margin-left: 10px;
}

/* Contenedor de filtro */
.filter-container {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con algo de opacidad */
  backdrop-filter: blur(20px); /* Efecto de desenfoque */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
  flex-direction: row; /* Cambiado a fila */
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* Etiqueta del filtro */
.filter-container label {
  padding-left: 25px;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 10px; /* Espacio entre la etiqueta y el select */
  color: #333;
}

/* Estilo del select */
.filter-container select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
  width: auto; /* Asegura que el select no se expanda completamente */
}

/* Cambio de borde al hacer focus */
.filter-container select:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilo de las opciones del select */
.filter-container option {
  padding: 10px;
  font-size: 1rem;
}

/* Añadir un poco de espacio entre el contenedor y otros elementos */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
}


/* Títulos */
.category-title {
  margin-top: 20px;
  font-size: 24px;
  color: white;
}

.no-services-msg {
  color: #888;
  font-style: italic;
}

/* Listado de servicios */
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 10px;
}

/* Tarjetas de servicio */
.service-card-wrapper {
  flex: 0 0 auto;
}

.service-card {
  background-color: #1E1E1E;
  width: 200px;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: scale(1.03);
}

.service-image {
  width: 100%;
  height: 205px;
  border-radius: 10px;
  object-fit: cover;
}

.service-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.service-info h5 {
  font-size: 18px;
  margin: 0 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.service-price,
.service-author {
  font-size: 14px;
  color: #f1f1f1;
  margin: 5px 0;
}

/* Botones */
.btn-request-service {
  background: #007bff;
  color: white;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px;
}

.btn-view-service {
  background: #6c757d;
  color: white;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 5px;
  display: inline-block;
}

.btn-contact-seller {
  background: #28a745;
  color: white;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.service-card img{
  width: 100%;
  height: 205px;
  border-radius: 10px;
  object-fit: cover;
}